/* Inter google font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Updock google font */
@import url("https://fonts.googleapis.com/css2?family=Updock&display=swap");

/* Universal styles */

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
}
/* --------------------------------- */

/* shared styles */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.font-updock {
  font-family: "Updock", cursive;
}
/* ----------------------------------- */

/* Header styles */
header {
  background-color: #333;
}

/* navbar styles */
nav {
  color: white;
  background-color: #333;
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo {
  color: #e6533c;
  font-weight: bolder;
  font-size: 2em;
}
.nav-lists {
  gap: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}
.list-items {
  list-style: none;
  padding: 10px 20px;
  border-radius: 20px;
}
#hamburger {
  display: none;
}
#active {
  background-color: #e6533c;
}
/* -------------------------------- */

/* Banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  width: 80%;
  margin: 0 auto;
  gap: 3rem;
}
.banner-title {
  width: 50%;
  font-size: 3em;
  color: white;
  font-weight: bolder;
  padding: 2rem 0;
}
.description {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  width: 50%;
}
.btn-orange {
  background-color: rgb(230, 83, 60);
  padding: 12px 16px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 2.8rem;
}
.btn-outline {
  background-color: transparent;
  padding: 12px 16px;
  font-weight: bold;
  color: white;
  border: 1px solid white;
  border-radius: 2.8rem;
}
.btn-container {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding: 2rem 0;
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e6533c;
}
.badge {
  display: flex;
  position: relative;
  bottom: 10rem;
  gap: 5px;
  left: -4rem;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  border-radius: 8px;
  width: 50%;
  background-color: #443e3e8a;
  color: white;
}
.badge2 {
  position: relative;
  top: 15rem;
  text-align: center;
  gap: 5px;
  right: -15rem;
  padding: 2rem 0;
  border-radius: 8px;
  width: 50%;
  background-color: #443e3e8a;
  color: white;
}
.badge2 > h3 {
  font-weight: bolder;
}

main{
    width: 100%;
    background-color: black;
}
/* Change your habit section */
.change-habit{
    text-align: center;
    padding-top: 3rem;
    padding: 2rem;
    background-color: black;
    color: white;
  }
  .section-image{
    border-radius: 50%;
    padding-bottom: 2rem;
  }
  .section-title{
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  .section-description{
    margin: 2rem;
  }
  .card-section{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  /* Run extra mile section styles */
  .run-container{
    width: 100%;
    background-color: black;
  }
  .run-extra{
    width: 80%;
    margin: 6rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.5rem;
    gap: 3rem;
    background-color: rgb(34, 34, 34);
    color: white;
  }
  .run-content{
    padding: 2rem;
  }
  .run-content > p{
    padding: 2rem 0;
  }
  .run-image{
    width: 40%;
    border-radius: 1.5rem;
  }

  /* our team section styles */
  .our-team{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: black;
    color: white;
    padding-bottom: 4rem;
  }
  .team-img-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    margin: auto;
    background-color: rgb(34, 34, 34);
    border-radius: 1.5rem;
    padding: 2rem;
    margin-top: 3rem;
  }

  .team-img-container >  div > img{
    width: 100%;
    height: 80%;
    border-radius: 1.5rem;
  }
  .trainer{
    color: rgba(255, 255, 255, 0.5);
  }
  .team-img-content{
    text-align: left;
    position: relative;
    bottom: 3rem;
    left: 1rem;
  }

  /* Footer styles */
  footer{
      background-color: #333;
  }
  .footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
  }
  .footer-logo{
    color: #e6533c;
    font-weight: bolder;
    font-size: 2em;
  }
  .footer-description{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    width: 50%;
  }
  .footer-title{
    color: white;
  }
  .footer-container li{
    list-style: none;
  }
  .footer-content{
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    width: 90%;
    margin: 0 auto;
  }

  .footer-left{
    width: 50%;
  }
  hr{
    width: 80%;
    margin: 1.5rem auto;
    border: 1px solid rgb(85, 83, 83);
  }
  .copywrite{
    color: white;
    text-align: center;
    padding: 2rem;
  }

  /* Calculator styles */
  .calculator-container{
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    color: white;
  }
  th, td, tr{
    border: 1px solid white;
    padding: 1rem;
  }
  .input-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .input-select{
    margin: 1rem auto;
    width: 98%
  }
  input{
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 8px;
    border: none;
  }
  .btn-calculate{
    background-color: rgb(230, 83, 60);
    padding: 12px 20px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 1.8rem;
  }
  form{
    width: 100%;
    margin: 0 auto;
  }
  .input-container{
    width: 100%;
    padding-top: 2rem;
  }
  .plans-container{
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    gap: 3rem;
  }
  .plans-container li{
    list-style: none;
  }
  .plans-container h3 , .plans-container ul{
    padding: 2rem;
  }
  .plan{
    background-color: rgb(10, 80, 141);
    gap: 2rem;
  }
  .membership-plan{
    color: white;
    text-align: center;
  }
/* ---------------------------------------- */

/* Mobile responsive styles */
@media screen and (max-width: 576px) {
    /* Navbar mobile styles */
  nav {
    justify-content: space-between;
    padding: 0 2rem;
  }
  .nav-lists {
    display: none;
  }
  #hamburger {
    display: block;
  }
  /* -------------------------------------- */

  /* Banner mobile styles */
  .banner {
    flex-direction: column;
  }
  .banner-title {
    width: 100%;
  }
  .description {
    width: 100%;
  }
  /* ----------------------------------- */
  /* change your habit section */
  .card-section{
    flex-direction: column;
  }
  .run-extra{
    flex-direction: column;
  }
  .run-image{
    width: 100%;
  }

  /* our team section styles */
  .team-img-container{
    padding: 3rem;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
  }
  /* Footer styles */
  .footer-container{
    flex-direction: column;
    gap: 3rem;
    padding: 0;
  }
  .footer-left{
    width: 100%;
  }
  .footer-content{
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .calculator-container{
    flex-direction: column;
  }
  .input-select{
    width: 100%;
  }
  .calculator-child{
    width: 100%; 
    padding-bottom: 3rem;
  }
  .plans-container{
    grid-template-columns: repeat(1, 1fr);
  }

}
